*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
article,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  border-radius: 10px;
}
body {
  font-family: "Outfit", sans-serif;
  margin: 0;
}

.qr__container {
  background-color: hsl(212, 45%, 89%);
  width: 100%;
  padding: 80px 0px;
}
.qr__wrapper {
  margin: 0px auto;
  width: 330px;
  height: auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 16px;
}
.qr__title {
  margin-top: 25px;
  text-align: center;
  font-size: 22px;
  padding: 0px 20px;
}

.qr__paragraph {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
  padding: 0 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
